.mi-boton {
    margin: 2% 85%;
    display: flex-end;
    justify-content: center;
    direction: column;
    gap: 1rem;
    padding: 1rem;
    background-color: rgb(212, 36, 36);
    border-radius: 15px;
    border-bottom-left-radius: 3rem;
    }