.ulNav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  direction: row;
  gap: 1rem;
  position: sticky;
  top: 0px;
  background-color: rgba(43, 37, 37, 0.7);
  z-index: 1020;
}

.aMenu {
  text-decoration: none;
  padding: 0.25rem;
  margin: 0.25rem;
  font-size: 1rem;
}
